#Cover {
    background-image: url("../img/about/sectionCoverFilter.png");
    height: 52vh;
}

#infoBox {
    margin-top: 6vh;
}

#cafeName {
    color: #654236;
    font-size: 50px;
    -webkit-text-stroke: 2px #654236;
}

#bu {
    color: white;
}

.infoDetail {
    color: #3e363f;
    font-size: 24px;
    font-weight: bolder;
}

.contant {
    color: gray;
}

#productTitle {
    color: #A78673;
    font-size: 40px;
    -webkit-text-stroke: 2px #654236;
}

#productBox {
    margin-top: 50px;
}

#product {
    background-color: #f6e5db;
    padding: 30px;
}

img[alt="product"] {
    width: 440px;
    height: 400px;
}

#productName {
    color: #d16a16;
    font-size: 30px;
    font-weight: bolder;
}

#price {
    font-size: 25px;
    font-weight: bolder;
}

#productInfo {
    /*background-color:lemonchiffon;*/
    background: linear-gradient(-135deg, transparent 50px, lemonchiffon 0) right;
    padding: 20px;
}

#productIntroduce {
    font-size: 22px;
}

.btn-light {
    background-color: #654236;
    width: 400px;
}

.btn {
    color: white;
    background-color: #654236;
    ;
    width: 100px;
    height: 50px;
}

.linkes {
    color: #d8baa9;
}