#Cover{
    background-image: url("../img/about/sectionCoverFilter.png");
    height: 52vh;
}

#section{
    margin-top: 50px;
    color: white;
    font-size: 120px;
    -webkit-text-stroke: 7px white;
}
#sectionBoxN{
    background-image: url("../img/section/NorthenCut.png");
}
#sectionBoxC{
    background-image: url("../img/section/CentralCut.png");
}
#sectionBoxS{
    background-image: url("../img/section/SouthenCut.png");
}
.sectionBox{
    background-size: cover;
    height: 360px;
}
.sectionBox:hover{
    transition-duration: 100ms;
    transform: scale(0.97);
    cursor: pointer;
}