#Cover{
    background-image: url("/images/index/index_cover_filter.png");
    height: 100vh;
}
#indexTitle{
    color: white;
    -webkit-text-stroke: 2px white;
    margin-top: 20vh;
}
#buttom{
    color: white;
}

body {
    background-color: gray;
}