#Cover{
    background-image: url("/images/login/loginBGFilter.png");
    height: 100vh;
}

br {
    display: block;
    margin: 10px 0;
    line-height: 150%;
 }

form {
    border-radius:20px;
    border-style:solid;
    background-color: #ffffff;
    color: #654236;
    margin: 10px auto;
    padding: 10px 0 10px 10px;
    width: 450px;
    height: 400px;
}

.txt[id = "name"],[id = "userrefference"] {
    border-radius:10px;
    outline: none;
    background-color: #e9f3f5;
    color: #27271d;
    font-size: 15px;
    height: 40px;
    text-align: left;
    width: 200px;
}

.txt[id = "username"],[id = "password"],[id = "confirm_password"] {
    border-radius:10px;
    outline: none;
    background-color: #e9f3f5;
    color: #27271d;
    font-size: 15px;
    height: 40px;
    text-align: left;
    width: 315px;
}

.sexselect {
    border-radius:10px;
    outline: none;
    background-color: #e9f3f5;
    color: #27271d;
    font-size: 15px;
    height: 40px;
    text-align: left;
    width: 100px;
}

.submit {
    border-radius:10px;
    background-color: #c9a07e;
    color: #ffffff;
    font-size: 20px;
    height: 40px;
    text-align: center;
    width: 250px;
}

.submit:hover {
    background-color: #ccab90;
}

#date {
    border-radius:10px;
    outline: none;
    background-color: #e9f3f5;
    color: #27271d;
    font-size: 15px;
    height: 30px;
    text-align: center;
    width: 315px;
}