<!DOCTYPE html>
<html>

<head>
    <title>近 期 特 選</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 給行動裝置或平板顯示用，根據裝置寬度而定，初始放大比例 1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- link custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/recommend.css">
    <link rel=" stylesheet" type="text/css" href="/stylesheets/webCover.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/webTitle.css">
    <!-- link jquery -->
    <script src="jquery-3.6.0.js"></script>
    <!-- script bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
</head>

<body>
    <div id="Cover" class="text-center">
        <div class="container-fluid" id="toolBarContainer">
            <div id="toolBar" class="row">
                <div class="col-sm-2 text-center" style="padding-top: 18px;">
                    <img src="/images/index/logo_v2.png" alt="logo.png" height="85px"
                        onclick="window.location.href = '/'">
                </div>
                <div class="col-sm-1 text-center tool"></div>
                <div class="col-sm-2 text-center tool" onclick="window.location.href = '/about'">關於我們</div>
                <div class="col-sm-2 text-center tool" onclick="window.location.href = '/section'">美食地圖</div>
                <div class="col-sm-2 text-center tool" onclick="window.location.href = '/recommend'">近期特選
                </div>
                <div class="col-sm-2 text-center tool" onclick="window.location.href = '/login'">
                    會員登入　
                </div>
                <div class="col-sm-1 text-center tool">
                </div>
            </div>
        </div>
        <p id="titleBox">
            <font id="title">近期特選</font>
            <br>
            <font id="link">
                <a href="/" class="linkes">首 頁</a>
                >
                <a href="/recommend" class="linkes">近期特選</a>
            </font>
            <br><br>
        </p>
    </div>

    <div class="container" id="recommendBox">

        <div class="recommend">
            <p id="author">
                角公園
            </p>
            <img src="images/recommend/角公園.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/9rV8Aa', '_blank')">
            <p id="articleTitle">
                <br>
                逾80年老宅品溫潤新鮮
            </p>
            <p id="articleContant">
                「角公園」建築起碼已有80 年以上歷史，歲月為樑柱留下溫潤的痕跡。老闆周守倉說，第一代屋主的小孩曾回來...
            </p>
        </div>

        <div class="recommend">
            <p id="author">
                藝風巷
            </p>
            <img src="/images/recommend/藝風巷.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/9rV8Aa', '_blank')">
            <p id="articleTitle">
                <br>
                復古溫暖氛圍傳遞藝文風
            </p>
            <p id="articleContant">
                「藝風巷」門口使用台灣傳統窗框妝點，雅致的白色和淡綠色調非常引人注目...
            </p>
        </div>

        <div class="recommend">
            <p id="author">
                有肉Succulent & Gift
            </p>
            <img src="/images/recommend/有肉Succulent & Gift.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/9rV8Aa', '_blank')">
            <p id="articleTitle">
                <br>
                植物香氛流瀉於空間中
            </p>
            <p id="articleContant">
                走過車水馬龍的信義路，轉進四維路的巷弄，遠離了喧囂，再抬頭看見了迎面而來的綠意「有肉Su...
            </p>
        </div>

        <div class="recommend">
            <p id="author">
                有木之森
            </p>
            <img src="/images/recommend/有木之森.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/9rV8Aa', '_blank')">
            <p id="articleTitle">
                <br>
                在地食材展現西式風味
            </p>
            <p id="articleContant">
                從迪化街的繁華轉入一條非商業化的小巷中，可見「有木之森」小小亮著燈的招牌，顯得格外溫暖...
            </p>
        </div>

        <div class="recommend">
            <p id="author">
                光景 Scene Homeware
            </p>
            <img src="/images/recommend/光景 Scene Homeware.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/9rV8Aa', '_blank')">
            <p id="articleTitle">
                <br>
                收藏咖啡生活的選物店
            </p>
            <p id="articleContant">
                選個晴日來訪，天光自屋簷透下，就能明白取名「光景」的原因。推開光影妝點的大門，滿室的生活小物...
            </p>
        </div>

        <div class="recommend">
            <p id="author">
                初咖啡
            </p>
            <img src="/images/recommend/初咖啡.jpg" alt="article.png"
                onclick="window.open('https://reurl.cc/W3D9QO', '_blank')">
            <p id="articleTitle">
                <br>
                海線沙鹿韓系咖啡廳
            </p>
            <p id="articleContant">
                老闆娘以前曾在龍井竹坑步道擺攤賣咖啡，五年前在嘉義開自家烘焙咖啡館，對於大學時期就在嘉義的老闆娘來說，也超過十年的生活，但這波疫情影響到許多店家，闆娘返鄉開店...
            </p>
        </div>

    </div>
</body>

</html>