body{
    background-color: antiquewhite;
}
.opt{
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    font-size: 22px;
    font-family: Comic Sans MS;
    text-align: 100%;
}
.opt:hover{
    background-color: rgb(144, 90, 51);
}
#optBar{
    top: 0%;
    left: 7.5%;
    width: 85%;
    height: 8%;
    background-color: saddlebrown;
    color: antiquewhite;
    position: fixed;
}
#firstImgDiv{
    background-color:rgb(224, 240, 253);
    width: 38%;
    height: 78%;
    left: 41%;
    top: 15%;
    position: absolute;
}
img{
    height: 100%;
    width: 100%;
}
#name{
    left: 20%;
    top: 25%;
    position: absolute;
}
.name{
    z-index: 50;
    position: relative;
    color:rgb(88, 56, 33);
    text-align: right;
    font-size: 75px;
    font-family: Comic Sans MS;
    font-weight: bold;
}
#cookie{
    z-index: 50;
    position: relative;
    color:rgb(88, 56, 33);
    text-align: right;
    font-size: 30px;
    font-family: Comic Sans MS;
    font-weight: bold;
}
#bar{
    left: 27%;
    top: 76%;
    position: absolute;
    width: 12%;
    height: 6%;
    background-color: rgb(88, 56, 33);
}