body{
    background-color: antiquewhite;
}
.opt{
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
    font-size: 22px;
    font-family: Comic Sans MS;
    text-align: 100%;
}
.opt:hover{
    background-color: rgb(144, 90, 51);
}
#optBar{
    top: 0%;
    left: 7.5%;
    width: 85%;
    height: 8%;
    background-color: saddlebrown;
    color: antiquewhite;
    position: fixed;
}
#infoImgDiv{
    width: 28%;
    height: 78%;
    left: 20%;
    top: 15%;
    position: absolute;
}
#Home{
    background-color: rgb(199, 106, 0);
}
#Home:hover{
    background-color: rgb(224, 126, 13);
}
.bar{
    color: beige;
    background-color: rgb(88,56,33);
    left: 9.5%;
    top: 25%;
    position: absolute;
    width: 18%;
    height: 56%;
    border-radius: 2%;
    font-family:Comic Sans MS;
    font-weight: bolder;
    text-align: center;
}
img{
    width: 45%;
    height: 30%;
    top: 10%;
    position: relative;
}
#item{
    top: 15%;
    position: relative;
    font-size: 28px;
}
#contant{
    top: 5%;
    position: relative;
    font-size: 24px;
}
