<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <script src="../library/jquery-3.6.0.js"></script>
        <link rel="stylesheet" type="text/css" href="../sytle/guessingStyle.css">
        <title>
            猜燈謎囉
        </title>
    </head>
    </style>
    <body id="body">
        <div id="titleBox">✮猜燈謎時間✮</div>
        <div id="contantBox">
            <p id="titleSmile">title</p>
            <p id="quiz" class="contant">題目123456</p>
            <input type="button" id="opt0" value="選項一">
            <input type="button" id="opt1" value="選項二">
            <br>
            <input type="button" id="opt2" value="選項三">
            <input type="button" id="opt3" value="選項四">
            <br>
            <p class="contant" id="score">目前得分 : 0</p>
        </div>
    </body>
    <script src="../control/guessingControler.js"></script>
</html>