<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../sytle/indexStyle.css">
        <title>
            歡迎來到洪子涵猜燈謎
        </title>
    </head>
    </style>
    <body id="body">
        <div id="titleBox">✮洪子涵猜燈謎✮</div>
        <div id="indexBox">
            <p id="titleSmile">ヽ(✿ﾟ▽ﾟ)ノ</p>
            <p class="contant">來到這裡就代表你已經準備好要玩洪子涵猜燈謎了對吧</p>
            <p class="contant">按下「開始」準備被接踵而來的題目屌虐吧✿</p>
            <input type="button" value="開    始" onclick="window.location.href='../view/guessing.html'" />
        </div>
    </body>
</html>