<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../style/eduStyle.css">
        <title>
            洪子涵的簡歷
        </title>
    </head>
    </style>
    <body id="body">
        <div id="optBar">
            <!-- 聯絡方式 學歷 專業 成果 -->
            <div id="information" class="opt" onclick="window.location.href = '../view/info.html'">
                <p>Information</p>
            </div>
            <div id="Home" class="opt" onclick="window.location.href = '../view/index.html'">
                <p>Home</p>
            </div>
            <div id="specialty" class="opt" onclick="window.location.href = '../view/spec.html'">
                <p>Specialty</p>
            </div>
            <div id="works" class="opt" onclick="window.location.href = '../view/works.html'">
                <p>Works</p>
            </div>
        </div>
        <div class="bar">
           <p>
                　2007 - 2013　<a href="http://w3.nkps.tp.edu.tw/a/" target="_blank" style="color: bisque;">✎</a>
                　台 北 市 立 南 港 國 民 小 學
            </p>
        </div>
        <div class="bar" style="background-color: rgb(251,193,193); top: 35%; color: rgb(88,56,33);">
            <p>
                　2013 - 2016　<a href="http://www.ccjh.tp.edu.tw/nss/p/index" target="_blank" style="color: rgb(88,56,33);">✎</a>
                　台 北 市 立 誠 正 國 民 中 學
            </p>
        </div>
        <div class="bar" style="top: 50%;">
            <p>
                　2016 - 2019　<a href="http://www.nihs.tp.edu.tw/" target="_blank" style="color: bisque;">✎</a>
                　台 北 市 立 內 湖 高 級 中 學 職 業 學 校　 資 訊 科
            </p>
        </div>
        <div class="bar" style="background-color: rgb(251,193,193); top: 65%; color: rgb(88,56,33);">
            <p>
                　2019 - n o w　<a href="https://www.yuntech.edu.tw/" target="_blank" style="color: rgb(88,56,33);">✎</a>
                　國 立 雲 林 科 技 大 學　 資 訊 工 程 系
            </p>
        </div>
    </body>
</html>