<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../style/indexStyle.css">
        <title>
            洪子涵的簡歷
        </title>
    </head>
    </style>
    <body id="body">
        <div id="optBar">
            <!-- 聯絡方式 學歷 專業 成果 -->
            <div id="info" class="opt" onclick="window.location.href = '../view/info.html'">
                <p>Information</p>
            </div>
            <div id="education" class="opt" onclick="window.location.href = '../view/edu.html'">
                <p>Education</p>
            </div>
            <div id="specialty" class="opt" onclick="window.location.href = '../view/spec.html'">
                <p>Specialty</p>
            </div>
            <div id="works" class="opt" onclick="window.location.href = '../view/works.html'">
                <p>Works</p>
            </div>
        </div>
        <div id="name">
            <p class="name">洪 子 涵<br>Hong Zi Han</p>
            <p id="cookie">cookie is good</p>
        </div>
        <div id="bar">
             
        </div>
        <div id="firstImgDiv">
            <img id="firstImg" src="../image/cookie.png" alt="firstImg">
        </div>
        
    </body>
</html>