<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../style/infoStyle.css">
        <title>
            洪子涵的簡歷
        </title>
    </head>
    </style>
    <body id="body">
        <div id="optBar">
            <!-- 聯絡方式 學歷 專業 成果 -->
            <div id="Home" class="opt" onclick="window.location.href = '../view/index.html'">
                <p>Home</p>
            </div>
            <div id="education" class="opt" onclick="window.location.href = '../view/edu.html'">
                <p>Education</p>
            </div>
            <div id="specialty" class="opt" onclick="window.location.href = '../view/spec.html'">
                <p>Specialty</p>
            </div>
            <div id="works" class="opt" onclick="window.location.href = '../view/works.html'">
                <p>Works</p>
            </div>
        </div>
        <div id="infoImgDiv">
            <img id="infoImg" src="../image/rideBike.png" alt="infoImg">
        </div>
        <div id="name">
            <p class="name">洪子涵<br>Hong Zi Han</p>
        </div>
        <div id="infoBox">
            <p style="font-weight: bolder;font-size: 40px;">　Information</p>
            <p>
                　 ♔ Birth
            </p>
            <p>
                　 ☎ Phone
            </p>
            <p>
                　 ✉ Mail
            </p>
            <div id="infoContant">
                <p>
                    　2000 / 10 / 02
                </p>
                <p>
                    　0929 - 227 - 339
                </p>
                <p>
                    　galleta20102@gmail.com
                </p>
            </div>
        </div>
    </body>
</html>