<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../style/specStyle.css">
        <title>
            洪子涵的簡歷
        </title>
    </head>
    </style>
    <body id="body">
        <div id="optBar">
            <!-- 聯絡方式 學歷 專業 成果 -->
            <div id="info" class="opt" onclick="window.location.href = '../view/info.html'">
                <p>Information</p>
            </div>
            <div id="education" class="opt" onclick="window.location.href = '../view/edu.html'">
                <p>Education</p>
            </div>
            <div id="Home" class="opt" onclick="window.location.href = '../view/index.html'">
                <p>Home</p>
            </div>
            <div id="works" class="opt" onclick="window.location.href = '../view/works.html'">
                <p>Works</p>
            </div>
        </div>
        <div class="bar">
            <img src="../image/office.png" alt="C++">
            <p id="item">基本文書處裡能力</p>
            <p id="contant"><br><br>運 用 PowerPoint<br>及 Word 等 軟 體</p>
        </div>
        <div class="bar" style="background-color: rgb(235, 135, 20); left: 30.5%; color: rgb(63,39,21);">
            <img src="../image/C.png" alt="C++">
            <p id="item">程式邏輯能力</p>
            <p id="contant"><br><br>C++ Language<br>PHP , JQuery</p>
        </div>
        <div class="bar" style="left: 51.5%;">
            <img src="../image/English.png" alt="C++">
            <p id="item">基礎英文說聽讀寫</p>
            <p id="contant"><br><br>校內多益模擬<br>510 分</p>
        </div>
        <div class="bar" style="background-color: rgb(235,135,20); left: 73.5%;color: rgb(63, 39, 21)">
            <img src="../image/CPE.png" alt="C++">
            <p id="item">CPE 解題數 4</p>
            <p id="contant"><br><br>考試日期<br>2021 / 03 / 23</p>
        </div>
    </body>
    <!--
    中英速打能力 :
    基礎英文說聽讀寫能力 :-->
</html>