<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf=8">
        <link rel="stylesheet" type="text/css" href="../style/worksStyle.css">
        <title>
            洪子涵的簡歷
        </title>
    </head>
    </style>
    <body id="body">
        <div id="optBar">
            <!-- 聯絡方式 學歷 專業 成果 -->
            <div id="information" class="opt" onclick="window.location.href = '../view/info.html'">
                <p>Information</p>
            </div>
            <div id="education" class="opt" onclick="window.location.href = '../view/edu.html'">
                <p>Education</p>
            </div>
            <div id="specialty" class="opt" onclick="window.location.href = '../view/spec.html'">
                <p>Specialty</p>
            </div>
            <div id="Home" class="opt" onclick="window.location.href = '../view/index.html'">
                <p>Home</p>
            </div>
        </div>
        <div id="githubBox">
            <img src="../image/GitHub-Logo-brown.png" alt="GitHub-Logo">
            <div id="githubContant">
                <p class="item">
                    <a href="https://github.com/Galleta20102/109_2_web/tree/main/Guess_the_riddle" target="_blank">
                        　♛ Guess the riddle
                    </a>
                </p>
                <p class="item">
                    <a href="https://github.com/Galleta20102/109_2_web/tree/main/Resume" target="_blank">
                        　➤ web 109-2 resume
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>